* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  margin: 10px auto 30px;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  margin: 0 auto 50px;
}

td {
  border: 1px solid black;
  padding: 2px 5px;
}